<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form 3</title>
</head>
<style>
    #form3{
        text-align: center;
    }
    form{
        border: 1px solid #ddd;
        padding: 5px;
        width: 225px;
        background-color: #efefef;
    }
    label{
        display: block;
        margin-top: 5px;
    }
    input, textarea, select, option {
        min-width: 200px;
    }
</style>
<body>
    <div id="form3">
        <form @submit='submitForm($event)' action="simpan.php" method="POST">
            <label>Title : </label>
            <input type="text" v-model='title'>
            <br>
            <label>Description : </label>
            <textarea v-model="description"></textarea>
            <br>
            <label>Authors : </label>
            <input type="text" v-model='authors'>
            <br>
            <label>Price : </label>
            <input type="text" v-model.number='price'>
            <br>
            <label>Categories : </label>
            <select v-model="categories" multiple>
                <option v-for="option in options" :value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>
</html>